.mainNav {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mainNav__link {
    margin-right: 20px;
    color: black;
    font-size: 20px;
}

.mainNav__link:hover {
    color: blue;
}

.active {
    color: yellow;
}